.contato-bg {
    background: #f7f7f7;
    max-width: 100vw;
    margin-bottom: 40px;
}

.container-titulo {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.container-titulo p {
    font-size: 1.5rem;
    color: #717171;   
}

.container-titulo h1 {
    color: #000000;
    font-size: 3rem;
}


.container-contato {
    display: grid;
    grid-template-columns: 5fr 7fr;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-endereco {
    padding: 60px;
    background: #11a8ff;
    color: white;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
}

.container-endereco h2 {
    color: white;
    margin-bottom: 40px;
}

.container-endereco p {
    margin-bottom: 8px;
}
.container-endereco p:nth-child(3) {
    margin-bottom: 40px;
}

.contato-meios a {
    display: block;
    max-width: max-content;
    margin-bottom: 8px;
    padding-right: 28px;
    color: white;
}

.contato-meios a:nth-child(2) {
    margin-bottom: 32px;
}

.contato-meios a:nth-child(3) {
    margin-bottom: 60px;
}

.contatos-redes {
    display: flex;
    gap: 32px;
    padding-left: 28px;
}

.contatos-redes a {
    color: white;
}

@media (max-width: 800px) {
    .container-titulo  {
        text-align: center;
    }

    .container-titulo p {
        padding-top: 60px;
    }

    .container-contato {
        grid-template-columns: 1fr;
    }

    .container-endereco,
    .container-formulario {
        padding: 20px;

    }

    .container-endereco {
        border-radius: 5px 5px 0 0;
        background: #11a8ff;
    }

    .container-formulario {
        border-radius: 0 0 5px 5px;
    }

    .container-endereco h2,
    .contato-meios a:nth-child(3) {
        margin-bottom: 32px;
    }

    .contatos-redes {
        margin-bottom: 12px;
    }
}


/* formulario */

.container-formulario {
    background: #B2B2B2;
    padding: 60px;
    backdrop-filter: blue(15px);
    background: rgba(255, 255, 255, 015);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(15px);
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form label {
    display: block;
    font: 400 1rem/1.5 "Poppins", sans-serif;
    margin-bottom: 4px;
}

.form .caixa {
    grid-column:  span 2;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background: #f7f7f7;
    border: 1px solid black;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    outline: none;
    border-color: #111111;
    background: #ffffff;
    box-shadow: 0 0 0 1px #111111;
}

.botao {
    display: inline-block;
    padding: 16px 32px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, .1);
    text-transform: uppercase;
    color: #000000;
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
    max-width: max-content;
    cursor: pointer;
    border: 2px solid black;
    
}


@media (max-width: 600px) {
    .form {
        grid-template-columns: 1fr;
    }
    .form .caixa {
        grid-column: 1;
    }
}