.footer-bg {
    max-width: 100vw;
    background: #f7f7f7;
    padding-bottom: 20px;
    padding-top: 40px;
}

.footer-container {
    max-width: 1200px;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    
}