.preco-bg {
    background: #f7f7f7;
    padding: 10px 0px;
}

.preco {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    
}

.preco-item {
    flex: 1 1;
    max-width: 600px;
    text-transform: uppercase;
    font-weight: bolder;
    background: rgba(255, 255, 255, 015);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    line-height: 3rem;
    padding: 20px 60px 60px 60px;
    background: white;
}
.preco-span {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.preco-item h2 {
    font-size: 1.8rem;
    color: #11a8ff;
    text-align: center;
    margin-bottom: 20px;
}

.preco-item span {
    font-size: 1rem;
    color: #11a8ff;
    text-align: center;
   
}

.preco-item ul {
    font-size: 1rem;
    color:#7c7c7c;
    margin-bottom: 40px;
   

}

.preco-item a {
    color: #11a8ff;
    padding: 15px 60px;
    border: 2px solid #7c7c7c;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    
}

.preco-item a:hover {
    background: #f7f7f7;
}

@media (max-width: 1100px) {
    .preco { 
        flex-direction: column;
    }
    .preco-span {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .preco-item {
        max-width: 400px;
        line-height: 1.8rem;
        padding: 20px 40px 40px 40px;
    }
    .preco-item h2 {
        font-size: 2rem;
        margin-bottom: 5px;
    }
    .preco-item span {
        font-size: 0.90rem;
    }
    
    .preco-item ul {
        font-size: 0.75rem;
        margin-bottom: 20px;
    }

    .preco-item a {
        padding: 10px 40px;
        border: 2px solid #7c7c7c;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        
    }
}

@media (max-width: 350px) {
    .preco-item {
        max-width: 400px;
        line-height: 1.5rem;
        padding: 20px 15px 30px 15px;
    }
    .preco-item h2 {
        font-size: 1.8rem;
    }
    
    .preco-item span {
        font-size: 0.80rem;
        
    }
    
    .preco-item ul {
        font-size: 0.70rem;
    }
}